@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #6bc0e7;
    --verde: #6671a8;
    --branco: #000000;
    --botao-ativo: #358ff7;
    --botao-inativo: rgb(199, 199, 199);
    --texto-fundo: rgb(255, 255, 255);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    height: 600px;
    width: 100%;
    margin: 2.5% auto;
}

.conteudo {
    width: 1500px;
    height: 500px;
    box-shadow: 14px 160px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--cor-de-fundo);
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
    color: var(--branco);
}

.titulo-principal span {
    color: var(--verde);
}


.botao {
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botoes {
    display: block;
}

.botao.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}

.abas-textos{
    background-color: var(--texto-fundo);
    padding: 40px;
    height: 500px;
}
.aba-conteudo.ativo{
    display:block;
    margin: 10% 0%;
}

.aba-conteudo{
    display: none;
}

.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
    color: var(--branco);
}
.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--verde);
    text-transform: uppercase;
}

.contador{
    font-size: 20px;
    text-align: center;
    color: var(--branco);
}

@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }

    .botao:first-child {
        border-radius: 40px 0 0 0;
    }

    .botao:last-child {
        border-radius: 0 40px 0 0;
    }
}